<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xutown.hurtplatform.dao.ChoicesItemMapper" >
  <resultMap id="BaseResultMap" type="com.xutown.hurtplatform.model.ChoicesItem" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="attr_id" property="attrId" jdbcType="CHAR" />
    <result column="parent_id" property="parentId" jdbcType="CHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attr_id, parent_id, item_name, enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from choices_item
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from choices_item
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xutown.hurtplatform.model.ChoicesItem" >
    insert into choices_item (id, attr_id, parent_id, 
      item_name, enable)
    values (#{id,jdbcType=CHAR}, #{attrId,jdbcType=CHAR}, #{parentId,jdbcType=CHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xutown.hurtplatform.model.ChoicesItem" >
    insert into choices_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=CHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xutown.hurtplatform.model.ChoicesItem" >
    update choices_item
    <set >
      <if test="attrId != null" >
        attr_id = #{attrId,jdbcType=CHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=CHAR},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xutown.hurtplatform.model.ChoicesItem" >
    update choices_item
    set attr_id = #{attrId,jdbcType=CHAR},
      parent_id = #{parentId,jdbcType=CHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>