<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xutown.hurtplatform.dao.GreenWayMapper" >
  <resultMap id="BaseResultMap" type="com.xutown.hurtplatform.model.GreenWay" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="patient_id" property="patientId" jdbcType="CHAR" />
    <result column="acc_id" property="accId" jdbcType="CHAR" />
    <result column="item_id" property="itemId" jdbcType="CHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, patient_id, acc_id, item_id, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from green_way
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from green_way
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xutown.hurtplatform.model.GreenWay" >
    insert into green_way (id, patient_id, acc_id, 
      item_id, add_time)
    values (#{id,jdbcType=CHAR}, #{patientId,jdbcType=CHAR}, #{accId,jdbcType=CHAR}, 
      #{itemId,jdbcType=CHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xutown.hurtplatform.model.GreenWay" >
    insert into green_way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="patientId != null" >
        patient_id,
      </if>
      <if test="accId != null" >
        acc_id,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="patientId != null" >
        #{patientId,jdbcType=CHAR},
      </if>
      <if test="accId != null" >
        #{accId,jdbcType=CHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xutown.hurtplatform.model.GreenWay" >
    update green_way
    <set >
      <if test="patientId != null" >
        patient_id = #{patientId,jdbcType=CHAR},
      </if>
      <if test="accId != null" >
        acc_id = #{accId,jdbcType=CHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xutown.hurtplatform.model.GreenWay" >
    update green_way
    set patient_id = #{patientId,jdbcType=CHAR},
      acc_id = #{accId,jdbcType=CHAR},
      item_id = #{itemId,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>